# Pokemon

### Введение:

Будем делать данные



### Импортируем нужные библиотеки

### Создайте словарь, который выглядит, как датафрейм ниже

### Назначьте его переменной с именем pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Столбцы датафрейма расположены в алфавитном порядке. Поместите порядок столбцов: name, type, hp, evolution, pokedex

### Добавьте еще один столбец под названием «Place» и вставьте то, что вы имеете в виду.

### Представьте тип каждого столбца